.adminbg {
    background-image: url("../../../img/venom.jpg");
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.bluradmin-bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;

}