.custom-table {
    background-color: rgba(5, 12, 20, 0.7) !important;

}

.overflow-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* Add this line */
    max-height: 500px;

}

.tablecont {
    max-height: 400px;
}